#what-happened-iframe-id {
  top: 12px;
  right: 12px;
  bottom: initial;
  border-radius: 5px;
  left: initial;
  width: 350px;
  height: 600px;
  z-index: 2147483647 !important;
  position: fixed !important;
  border-width: 0px;
  background-color: #201d1e;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.49);
}
