#show-more-button {
  text-decoration: underline;
  color: lightgray;
  font-style: italic;
  font-size: 12px;
  margin-block-start: 0em;
}

#show-more-button:hover {
  cursor: pointer;
  color: darkorange;
}
