#what-happened-header {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

#what-happened-title {
  font-size: medium;
  font-weight: lighter;
}

#close-button-icon {
  height: 15px;
}
