#what-happened-viewer-manager-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#what-happened-viewer-manager-title {
  margin: 0em;
  font-size: large;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}
