#what-happened-viewer-manager-header {
  display: flex;
  margin-bottom: 0.5em;
  flex-direction: row-reverse;
}

.what-happened-viewer {
  overflow: auto;
  height: 430px;
  padding-right: 1em;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}
