.tweet-item-date-source-text {
  color: lightgray;
  font-size: 12px;
}

.tweet-heading-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  display: block;
}

.tweet-heading-link:hover {
  font-weight: bold;
}

.tweet-heading-link:visited {
  all: inherit;
}

.news-item-date-source-text {
  color: lightgray;
}

.news-heading-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  display: block;
}

.news-heading-link:hover {
  font-weight: bold;
}

.news-heading-link:visited {
  all: inherit;
}

#news-item-list {
  margin-bottom: 5px;
}

#tweet-item-list {
  margin-bottom: 10px;
}

ol {
  margin-block-start: 0.5em;
  list-style-type: none;
  padding-inline-start: 0px;
}
