body {
  margin: 1em;
  font-family: Soleil, "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: white;
  font-style: italic;
  font-size: 14px;
}
