body {
  margin: 0;
  font-family: Soleil, "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
}