.news-item-date-source-text {
  color: lightgray;
}

.news-heading-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  display: block;
}

.news-heading-link:hover {
  font-weight: bold;
}

.news-heading-link:visited {
  all: inherit;
}

li {
  margin-top: 3px;
  margin-bottom: 3px;
}

ol {
  list-style-type: none;
  padding-inline-start: 0px;
}
